* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

html{
	font-size: 82.7%;
	font-family: Trebuchet MS, sans-serif;
}

tr,
td,
th,
table {
  border: solid 1px black;
  border-collapse: collapse;
  font-size: 2.0rem;
}

tr:nth-child(even) {
  background-co
